<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visual CVD</title>
  <link rel="shortcut icon" href="images/heart.png" type="image/png">
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
  <link href="https://mattduck.github.io/generic-css/css/generic-dark.min.css" rel="stylesheet" type="text/css">
  <link href="style/custom.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  <link rel="stylesheet" href="style/bebas.css" type="text/css">

  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="scripts/jquery-csv.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



  <!-- Scripts -->
  <script src="scripts/graph.js"></script>
</head>

<body class="center" style="color:#4FA1B8;">
  <div id="banner">
      <img src="images/heart.png" alt="heart logo" style="height:150px;width:150px">
      <span><p id="app-name">Visual CVD</p></span>
  </div>
  <div ng-app="graphApp" ng-controller="graphCtrl">
    <form name="myForm" class="center">
      <div>
        <input type="file" name="inputfile" id="inputfile">
      </div>
      <br/>
      <div>
        <ui-select tagging tagging-label="('new')" ng-model="columns.columnName" theme="selectize" title="Choose what to compare" style="width:250px;">
          <ui-select-match placeholder="Choose a column...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="option in columns.availableOptions | filter: $select.search">
            <div ng-bind-html="option | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <label for="month0"><b>Month 0:</b></label>
      <div>
        <input id="month0" type="number" min="0" ng-model="month0">
      </div>
      <br/>
      <label for="month3"><b>Month 3:</b></label>
      <div>
        <input id="month3" type="number" min="0" ng-model="month3">
      </div>
      <br/>
      <label for="month24"><b>Month 24:</b></label>
      <div>
        <input id="month24" type="number" min="0" ng-model="month24">
      </div>
      <div class="center">
        <button ng-click="compare()">Compare</button>
      </div>
    </form>
    <div id='graph'></div>
  </div>
</body>
</html>